<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>상품추가</title>
    <script>
        let optionIndex = 0;

        function addOptionField() {
            const container = document.getElementById("option-container");

            const optionDiv = document.createElement("div");
            optionDiv.className = "option-group";
            optionDiv.innerHTML = `
                <div class="form-row">
                    <label>옵션 이름:</label>
                    <input type="text" name="options[${optionIndex}].name" maxlength="50" required />
                </div>
                <div class="form-row">
                    <label>수량:</label>
                    <input type="number" name="options[${optionIndex}].quantity" min="1" max="99999999" required />
                </div>
                <button type="button" onclick="removeOptionField(this)">삭제</button>
                <hr/>
            `;

            container.appendChild(optionDiv);
            optionIndex++;
        }

        function removeOptionField(button) {
            button.closest('.option-group').remove();
        }
    </script>
</head>
<body>
<h1>상품 추가</h1>

<form th:action="@{/admin/products/add}" th:object="${product}" method="post">
    <div class="form-row">
        <label>상품명: </label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div class="form-row" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div>
    <div class="form-row" th:if="${globalErrorMessage}" th:text="${globalErrorMessage}" style="color: red;"></div>
    <div class="form-row">
        <label>가격: </label>
        <input type="number" th:field="*{price}"/>
    </div>
    <div class="form-row">
        <label>이미지: </label>
        <input type="text" th:field="*{url}"/>
    </div>
    <hr>
    <h3>옵션 추가</h3>
    <div id="option-container" class="form-row"></div>
    <button type="button" onclick="addOptionField()">+ 옵션 추가</button>
    <div class="form-row">
        <label></label>
        <button type="submit">저장</button>
    </div>

</form>

<a th:href="@{/admin/products}"><- 목록으로 돌아가기</a>
</body>
</html>